# Configuración de Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu-service-role-key-aqui

# Credenciales del Administrador
ADMIN_USERNAME=miuseradmin
ADMIN_PASSWORD=unaclavesegura

# Seguridad
JWT_SECRET_KEY=clave_secreta_de_32caraceres
